.idea
*.iml
.gradle
simulacrum/gradle/wrapper/gradle-wrapper.jar
simulacrum/gradle/wrapper/gradle-wrapper.properties
simulacrum/api/gradle/wrapper/gradle-wrapper.jar
simulacrum/api/gradle/wrapper/gradle-wrapper.properties
